@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: "Raleway", sans-serif;
}

.my-container {
  width: 1171px;
  margin: auto;
}

button {
  height: 56px;
  width: 110px;
}

.seat:hover {
  background-color: rgba(160, 192, 17, 0.95);
}


/* comments*/